.container {
    width: 100%;
    height: 34px;
    display: flex;
    align-items: center;
    background-color: #0A0043;
    position: relative;
}

.listContact {
    position: absolute;
    left: 17%;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 8%;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    font-size: 14px;
}

.listItemContact {
    display: flex;
    align-items: center;
    gap: 8%;
}

.listLang {
    @extend .listContact;
    right: 19%;
    left: auto;
    gap: 50%;
}

.listItemLang {
    @extend .listItemContact;
}

.heart {
    position: relative;
    top: 20%;    
}

.circle {
    width: 16px;
    height: 16px;
    position: absolute;
    top: -2px;
    left: 22px;
    z-index: 3;
    border-radius: 50%;
    background-color: #008DFE;
    font-size: 11px;
    text-align: center;
}